body{
    padding: 60px 0px 0px 0px;
    z-index: 0;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.1em;
}
.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px;
}
